// BOOTSTRAP CUSTOMIZATIONS
// Navbar
@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 35px;
    }
}
@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
        margin-right: 35px;
    }
}

.nav > li > a {
    padding-right: 30px;
    padding-left: 30px;
}

.navbar-default .navbar-nav>li>a {
    color: $secondary-color;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active {
    color: $primary-color !important;
    background-color: transparent !important;

}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default {
    background-color: $white;
    border-color: transparent;
    font-family: 'avenir-medium', sans-serif;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a {
    color:$primary-color;
    background-color: transparent;
}

.logo {
    width: 6em;
}

.navbar-brand {
    padding: 0;
}
