// Helper classes

// Margins
.medium-top-margin {
    margin-top: $medium-distance;
}

.medium-bottom-margin {
    margin-bottom: $medium-distance;
}

.moderate-top-margin {
    margin-top: $moderate-distance;
}

.moderate-bottom-margin {
    margin-bottom: $moderate-distance;
}

.large-top-margin {
    margin-top: $large-distance;
}

.large-bottom-margin {
    margin-bottom: $large-distance;
}


.small-top-margin {
    margin-top: 1.5em;
}

.small-bottom-margin {
    margin-bottom: $small-distance;
}

// Paddings
.medium-sides-padding {
    padding-left: $mediumer-distance;
    padding-right: $mediumer-distance;
}
.large-sides-padding {
    padding-left: $large-distance;
    padding-right: $large-distance;
}

.small-letter-space {
    letter-spacing: 1px !important;
}

// Colors
.primary-color{
  color: $primary-color;
}

.secondary-color{
  color: $secondary-color;
}

.dark-gray{
  color: $dark-gray !important;
}



/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
