// Helper classes

// Margins
.medium-top-margin {
    margin-top: $medium-distance;
}

.medium-bottom-margin {
    margin-bottom: $medium-distance;
}

.moderate-top-margin {
    margin-top: $moderate-distance;
}

.moderate-bottom-margin {
    margin-bottom: $moderate-distance;
}

.large-top-margin {
    margin-top: $large-distance;
}

.large-bottom-margin {
    margin-bottom: $large-distance;
}


.small-top-margin {
    margin-top: $small-distance;
}

.small-bottom-margin {
    margin-bottom: $small-distance;
}

// Paddings
.medium-sides-padding {
    padding-left: $mediumer-distance;
    padding-right: $mediumer-distance;
}
.large-sides-padding {
    padding-left: $large-distance;
    padding-right: $large-distance;
}

// Colors
.primary-color{
  color: $primary-color;
}

.secondary-color{
  color: $secondary-color;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

// Colors
.dark-gray{
  color: $dark-gray !important;
}
