// Colors
$primary-color: #FF386A;
$secondary-color: #FFB600;
$light-gray: #DFEDF2;
$dark-gray: #666666;
$white: #FEFEFE;

// Margins
$medium-distance: 2em;
$moderate-distance: 3.5em;
$large-distance: 5em;
$small-distance: 1em;
