@font-face {
  font-family: 'Chalet-Sixty';
  src: url("../fonts/ChaletNewYorkNineteenSixty.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Chalet-Eighty';
  src: url("../fonts/ChaletNewYorkNineteenEighty.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans.regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }


.medium-top-margin {
  margin-top: 4em; }

.medium-bottom-margin {
  margin-bottom: 2em; }

.moderate-top-margin {
  margin-top: 3.5em; }

.moderate-bottom-margin {
  margin-bottom: 3.5em; }

.large-top-margin {
  margin-top: 5em; }

.large-bottom-margin {
  margin-bottom: 5em; }

.small-top-margin {
  margin-top: 1.5em; }

.small-bottom-margin {
  margin-bottom: 1em; }

.medium-sides-padding {
  padding-left: 3em;
  padding-right: 3em; }

.large-sides-padding {
  padding-left: 5em;
  padding-right: 5em; }

.small-letter-space {
  letter-spacing: 1px !important; }

.primary-color {
  color: #FF386A !important; }

.secondary-color {
  color: #FFB600 !important; }

.dark-gray {
  color: #666666 !important; }

/* centered columns styles */
.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */ }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 35px; }

.title{
  font-family: 'Chalet-Eighty' !important;}

@media (min-width: 320px) and (max-width: 765px) {
  .navbar > .container-fluid .navbar-collapse,
  .navbar-toggle {
    float: left; }
  #bs-example-navbar-collapse-1 {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0; }

  .navbar-default .navbar-toggle {
    position: absolute;
    background-color: transparent; }
  .navbar-default .navbar-toggle:active,
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:visited,
  .navbar-default .navbar-toggle:link,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent; }
  .nav.navbar-nav.navbar-right {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .nav.navbar-nav.navbar-right > li {
    width: 100%;
    border-bottom: 1px solid #EAEAEA; }
  .navbar > .container-fluid .navbar-brand {
    text-align: center;
    margin: auto;
    float: none;
    display: table; }
  p {
    line-height: 1.5em;
    font-family: 'avenir-light', sans-serif;}

  .navbar-default .container-fluid {
    background-color: #fcda59!important; }

  .footer {height: 420px!important;}

  .navbar-odin{background-color: white;}

  .section-top{background-color: #f5f5f5;
     margin-top: 1.5%;}

  .size-col{width: 118%;
    margin-left: -27px;
    background-color: #F1F1F1;}

  .moving-box {
    width: 8em;
    margin-left: -15px;}

  .BA-logo {
    width: 3.3em;
    margin-left: 175px;
    margin-top: 7px;}

  .logo-ba{
    width: 3em;
    margin-left: 15.5em;
    margin-top: -40px;}

  .twitter-footer {
    margin-left: 30px;
    margin-top: 10px;}

  .okfn-logo {
    width: 133px;
    margin-left: 25px;
    margin-top: 27px;}

  .icon-BA {
    margin-top: 25px;
    width: 200px;
    margin-left: 50px!important;}

  .right-side-footer {
    color: white;
    text-align: center;
    margin-left: 0px;
    margin-top: 18px;}

  .catalogo{
    width: 8em;
    margin-top: 43px;
    margin-left: -15px;
  }
  .red-social {
    margin-left: 93px;
    margin-top: 27px;
    color: white;}

  .nav-div{
    background-color: #fcda59;
    width: 33em;
    height: 44px!important;}

  .hero-legend {
    font-family: 'avenir-light', sans-serif;
    font-size: 1.6rem;
    float:left;
    text-align: left;}

  .logo-nav{
    width: 6em;
    margin-left: 0px;}

  .section-color{
    margin-top: -10em;
    margin-left: -28px;
    margin-right: -28px;}

  .up-red-social {margin-top: 35px;}

  .odin-mini {width: 2.5em;}

  .social-icon {margin-left: 110px;}

  .up-content {width: 8em;
    margin-top: 60px;}

  .odin-hero {margin-left: 2px!important;}

  .fp-slidesNav.bottom{
    margin-left: -50px!important;}

  .twitter-01 {
    display: inline;
    margin-left: 200px;
    width: 2.2em;}

  .moving-down{
    width: 8em;
    margin-left: 0px;}

  .title{
    /*font-family: 'Chalet-Eighty' !important;*/
    font-size: 15px;}
  .font-size{font-size: 1.5rem;}

  .position-h4 {
    margin-top: -40px;
    margin-left: 55px;}

  .sections {margin-top: 5em;}}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-nav > li > a {
    padding-left: 0.8em;
    padding-right: 0.8em; }
  .title {
    font-family: 'avenir-black';
    font-size: 1.1em;
    letter-spacing: 2px; }
  .docs-top{margin-top: 80px;}
  .section-color {
    background-color: #F5F5F5;
    margin-left: -27px;
    margin-right: -27px;
    margin-top: -120px;}

  .small-top-margin{
    margin-top: 1.5em;
    margin-left: 17px;}

  .medium-top-margin {
    margin-top: 8em}

  .features img.img-large {
    width: 10em;
    margin-left: 90px;}

  .social-icon {margin-left: 90px;}

  .catalogo{
    width: 8em;}

  .red-social {
    margin-left: 85px;
    margin-top: -85px;
    color: white;}

  .twitter-footer {
    margin-left: 35px;
    margin-top: 10px;}

  .position-h4{
    margin-top: -31px;
    margin-left: 55px;}

  .okfn-logo {
    width: 8em;
    margin-left: 22px;
    margin-top: 27px;}

  .twitter-01{
    margin-left: 245px;
    width: 2.5em;
    display: inline-block;}

  .icon-BA {
    margin-top: 25px;
    margin-left: 25px;}

  .logo-ba {
    width: 4em;
    margin-top: -55px!important;
    margin-left: 36em!important;}

  .col-centered{ float: inherit;}

  .moving-box {
    width: 8em;
    margin:0 auto;
    display: block;}

  .hero-legend {
    font-family: 'avenir-light', sans-serif;
    font-size: 2.4rem;
    float:left;
    text-align: left;}

  .section-text{
    display: block!important;}

  .right-side-footer {
    color: white;
    text-align: center;
    margin-left: 0px;
    margin-top: 18px;}

  .logo-nav{
    margin-left: 10px!important;
    width: 9em;}

  .nav-div {
    background-color: #fcda59;
    width: 60em;
    height: 20px;}

  .contact img {width: 8em;}

  .navbar-right {
    margin-right: 25px!important;
    margin-top: 15px!important;}}

@media (min-width: 992px) {

  .font-size{
    font-size: 1.9rem;}

  .down-text{margin-top: 65px;}
  p {
    line-height: 1.5em;
    /*font-family: 'avenir-light', sans-serif;*/
    font-size: 2.1em;}
  .title {
    /*font-family: 'avenir-black';*/
    font-size: 16px;
    /*letter-spacing: 2px;*/
    text-align: left;
    margin-left: 20px;
  }
  .text-characteristics{
    display: inline-block;
  }

  .hero-legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    float:left;
    text-align: left;}

  .twitter-01 {
    display: inline;
    margin-left: 200px;
    width: 2.2em;}

  .moving-box {
    width: 5em;
    /*margin-top: 40px;*/
    display: inline-block;}

  .right-side-footer {
    color: white;
    text-align: center;
    margin-left: 0px;
    margin-top: 40px}

  .okfn-logo {
    width: 133px;
    margin-left: 25px;
    margin-top: 27px;}

  .icon-BA {
    margin-top: 25px;
    width: 270px;
    margin-left: -32px;}

  .twitter-footer {
    margin-left: 20px;
    margin-top: 15px;}

  .red-social {
    margin-left: -20px;
    margin-top: -100px;
    color: white;}

  .logo-nav{
    margin-left: 128px;
    width: 12em;}

  .logo-ba {
    width: 5em;
    margin-left: 73.5em;
    margin-top: -75px;}

  .nav > li > a {
    padding-right: 30px;
    padding-left: 30px; } }

/*.navbar-default .navbar-nav > li > a {
  color: #FFB600; }*/

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:hover {
  color: #FF386A !important;
  background-color: transparent !important; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default {
  background-color: #FEFEFE;
  border-color: transparent;
  font-family: 'avenir-black', sans-serif;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-size: small; }

.navbar-default .navbar-nav > .active > a {
  color: #FF386A;
  background-color: transparent; }

.logo {
  width: 10em;
  margin-left: 8em;}

.navbar-brand {
  padding: 0; }



.panel-default, .panel, .panel-default > .panel-heading, .panel-default > .panel-heading + .panel-collapse > .panel-body {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  background-color: transparent;
  border-color: transparent;
  border-top-color: transparent !important; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span, .fp-slidesNav ul li a span:hover {
  width: 16px;
  height: 16px;
  margin: -4px 0 0 -4px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #FFB600; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  margin: -4px 0 0 -4px;
  background: #FF386A;
  background: linear-gradient(to bottom right, #FFB600 0%, #FF386A 100%);
  border: none; }

section {
  margin-top: 10em;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 80vh !important;
}


a {
  color: #FFB600;
  text-decoration: none; }
a:hover {
  color: #FF386A;
  text-decoration: none; }

.btn-odin {
  color: #ffbb00;
  background-color: #FEFEFE;
  padding: 0.6em 5.5em;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-family: 'avenir-medium';
  font-weight: 600;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 100px;
}


/*.font-class{
  font-family: 'Chalet-Sixty';
  font-weight: 600;
}*/
.odin-hero {
  width: initial !important; }

/*.features-landing img {
  width: 6em;
  margin: auto;
}*/

.img-odin-hero{
  margin-left: -15px;
}

.features img {
  width: 12em;
  margin: auto;
}
.contact img {
  width: 11em; }

.features .col-sm-3 {
  margin-top: 1em; }

/*.title {
  font-family: 'avenir-black';
  font-size: 1.2em;
  letter-spacing: 2px; }*/

.gradient-shadow {
  display: block;
  height: 10px;
  opacity: 0.4;
  background-image:
      linear-gradient(
        #B5BEBE, #D1D9D9); }

.navbar-default {
  background-color: transparent; }

.navbar-default .container-fluid {
  background-color: white; }

.odin-hero{
  margin-top: 20vh !important;
  float: left;
  margin-left: -15px;
}

.section-color{
  background-color: #F5F5F5;
}

@media (min-width: 768px) {
  section {
    min-height: 80vh !important;
  }
  /*.features p, img{
    display: inline;
  }*/

  .features img{
    display: inline;
    margin: auto 20px 40px auto;
    width: 6em;
  }

  .title-top {margin-top: 85px;}
  .title-up {
    margin-top: -50px;
    margin-left: 18px;}
  .features img.img-large{
    width: 10em;
  }
  .logo-nav{
    max-width: 20%;
  }
  .section-text{
    display: inline;}}

@media (max-width: 768px) {
  .gradient-shadow {
    background-repeat: no-repeat; }
  .break {
    clear: both; }
  .large-sides-padding {
    padding-left: 0;
    padding-right: 0; } }

.separator {
  border-top: 2px solid #dfdfdf;
  /*margin-top: 10px;*/
  /*margin-bottom: 10px; */
}

.title.secondary-color.collapsed {
  color: #FFB600 !important;
  text-decoration: none; }

.title.secondary-color {
  color: #FF386A !important;
  text-decoration: none; }




/************************CLASES**************************/


.footer {
  background-color: #333333;
  min-height: initial;
  height: 300px;
  padding-left: 1em;
  padding-right: 1em;}

.move-block {margin-left: 50px;}


.social-red{
  font-size: 18px;
  color: white;
  margin-top: 55px;
  margin-left: 30px;
  font-weight: 600;}

.nav-set-div{
  background-color: #fcda59;
  width: 122em;
  height: 10px;}

.BA-logo{
  margin-left: 55em;
  margin-top: 20px;}

.navbar-right {
  margin-right: 125px;
  margin-top: 40px;}

.nav-div {
  background-color: #fcda59;
  width: 122em;
  height: 20px;}


.section-color {
    background-color: #F5F5F5;
    margin-left: -27px;
    margin-right: -27px;}

.odin-hero{
    margin-top: 12vh !important;
    float: left;
    margin-left: -15px;}


/*.moving-box {
    width: 8em;
    margin:0 auto;
    display: block;}*/
