@font-face {
  font-family: 'Chalet-Sixty';
  src: url("../fonts/ChaletNewYorkNineteenSixty.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Chalet-Eighty';
  src: url("../fonts/ChaletNewYorkNineteenEighty.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans.regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body { color:#56565e; }



.medium-top-margin {
  margin-top: 5em; }

.medium-bottom-margin {
  margin-bottom: 2em; }

.moderate-top-margin {
  margin-top: 3.5em; }

.moderate-bottom-margin {
  margin-bottom: 3.5em; }

.large-bottom-margin {
  margin-bottom: 5em; }

.small-top-margin {
  margin-top: 1.5em; }

.small-bottom-margin {
  margin-bottom: 1em; }
.space-top-margin {
  margin-top: 4em; }
.medium-sides-padding {
  padding-left: 3em;
  padding-right: 3em; }

.large-sides-padding {
  padding-left: 5em;
  padding-right: 5em; }

.small-letter-space {
  letter-spacing: 1px !important; }

.primary-color {
  color: #FF386A !important; }

.secondary-color {
  color: #FFB600 !important; }

.dark-gray {
  color: #666666 !important; }

/* centered columns styles */
.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */ }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 35px; }

.title-style {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;}

@media (min-width: 320px) and (max-width: 765px) {
  p {
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif; }

  .navbar > .container-fluid .navbar-collapse,
  .navbar-toggle {
    float: left; }

  #bs-example-navbar-collapse-1 {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0; }

  .navbar-default .navbar-toggle {
    position: absolute;
    background-color: transparent; }
  .navbar-default .navbar-toggle:active,
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:visited,
  .navbar-default .navbar-toggle:link,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent; }
  .nav.navbar-nav.navbar-right {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .nav.navbar-nav.navbar-right > li {
    width: 100%;
    border-bottom: 1px solid #EAEAEA; }
  .navbar > .container-fluid .navbar-brand {
    text-align: center;
    margin: auto;
    float: none;
    display: table; }

  .navbar-right {
    margin-top: 45px;
    background-color: #fff; }
  /*.top-section-us { margin-top: 45em;}*/
  .btn-odin {
    padding: 4px 12px!important;
    width: 210px!important;}

  .background-column { background-color: #fff;}
  .button-hamburger {
    margin-left: 320px;
    margin-top: 4px;}
  .gradient-shadow { margin-top: 1px!important;}
  .social-title { margin-left: -15px; margin-top: 60px;}

  .change-font{
    font-family: 'Chalet-Eighty';
    font-size: 20px; }

  .acceso {
    width: 8em;
    display: inline-block;
    margin-left: -10px; }

  .cog {
    width: 8em;
    margin-left: -12px;
    margin-top: 19px;}

  .cog-style { margin-left: -15px;}
  .navbar-default .container-fluid {
    background-color: #fcda59!important; }

  .footer {height: 420px!important; background-color: #333333;}

  .navbar-odin { background-color: white; }

  .section-top {
    background-color: #f5f5f5;
     margin-top: 21.5%; }

  .top-margin { margin-top: 60px; }

  .margin { margin-top: 112px; }

  .top-gpl {
    width: 6em;
    margin-top: 26px;
    margin-left: 50px; }

  .top-dgiga { margin-top: -225px; }

  .top-MM {
    margin-top: -5px;
    margin-left: 60px;
    color: #fff; }

  .almacenamiento { margin-top: -1px; width: 8em; margin-left: -17px;}

  .moving-box {
    width: 8em; }

  .BA-logo {
    width: 3.3em;
    margin-left: 175px;
    margin-top: 7px; }

  .logo-ba {
    width: 3em;
    margin-left: 15em!important;
    margin-top: -40px; }

  .text-right { margin-left: 20px; }

  .twitter-footer {
    margin-left: 40px;
    margin-top: 10px; }

  .okfn-logo {
    width: 133px;
    margin-left: 25px;
    margin-top: 27px; }

  .moving-text { margin-left: -8px;}
  .icon-BA {
    margin-top: 30px;
    width: 200px;
    margin-left: 50px!important; }

  .right-side-footer {
    color: white;
    text-align: center;
    margin-left: 0px; }

  .catalogo {
    width: 8em;
    margin-left: -9px;
    margin-top: -2px;}

  .red-social {
    margin-left: 120px;
    margin-top: 118px;
    color: white;
    font-size: 15px; }

  .nav-div {
    background-color: #fcda59;
    width: 33em;
    height: 44px!important; }

  .hero-legend {
    font-family: 'Open sans', sans-serif;
    font-size: 1.6rem;
    float:left;
    text-align: center; }

  .logo-nav {
    width: 6em;
    margin-left: 0px; }

  .section-color {
    margin-top: -10em;
    margin-left: -28px;
    margin-right: -28px; }

  .up-red-social { margin-top: 35px; }

  .odin-mini { width: 2.5em; }

  .social-icon { margin-left: 110px; }

  .up-content { width: 8em;
    margin-top: 78px; margin-left: -9px;}

  .odin-hero {
    margin-top: 10vh!important;
    margin-left: 2px!important; }

  .fp-slidesNav.bottom {
    bottom: 5px;
    margin-left: -51px!important }

  .twitter-01 {
    display: inline;
    margin-left: 220px;
    margin-top: -40px;
    width: 2.2em; }

  .moving-down {
    width: 8em;
    margin-left: 0px; }

  .title { font-size: 12px; font-family: 'Chalet-Eighty'; width: 10em;}
  .description-size { font-family: 'Chalet-Eighty'; font-size: 17px!important;}
  .font-size{ font-size: 1.5rem; font-weight: 600; }

  .position-h4 {
    margin-top: -55px;
    margin-left: 55px;
    color: #000000; }

  .sections {
    margin-top: 5em;
    padding: 0px;}}

/*@media only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .button-hamburger { margin-left: 320px; }}*/

@media only screen
  and (min-device-width: 360px)
  and (max-device-height: 640px)
  and (orientation : portrait)
  and (-webkit-device-pixel-ratio: 3){
  .up-content { margin-top: 52px; }
  .cog-style { margin-left: 20px;}
  .title { margin-left: -25px;}
  .button-hamburger { margin-left: 310px; }
  .section-top { margin-top: 6.5em;}
  .almacenamiento { margin-left: -21px; }
  .moving-box { margin-left: -21px; }
  .up-content { margin-top: 16px;}}

@media only screen
    and (max-device-width: 598px){
      .moving-box { margin-left: -21px;}
      .title { margin-left: -25px;}
      .text-right { margin-left: 12px;}
      .up-content { margin-top: 16px;}
      .button-hamburger { margin-left: 310px;}
      .icon-BA { margin-left: 61px!important}
      .odin-hero { margin-top: 13vh!important}}


@media only screen
    and (max-device-width: 568px)
    and (-webkit-device-pixel-ratio: 2)
    and (device-aspect-ratio: 40/71)
    and (orientation:portrait){

    .section-top { margin-top: 6.5em;}
    .btn-odin { font-size: 1em;}
    .contact-h2 { margin-left: -1px!important;}
    .okfn-logo { margin-left: 0px;}
    .title {
      font-size: 10px;
      margin-left: -31px;}
    .text-right { font-size: 13px; margin-left: 0px;}
    .red-social { margin-top: 135px; margin-left: 100px;}
    .twitter-footer { margin-left: 22px;}
    .moving-box { margin-left: -40px; }
    .cog { margin-top: 13px; }
    .up-content{ margin-top: 10px; }
    .almacenamiento { margin-left: -40px;}
    .logo-ba { margin-left: 13em!important;}
    .button-hamburger { margin-left: 268px;}
    .icon-BA { margin-top: 18px;}
    .top-dgiga { margin-top: -235px } }

@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait) {
    .moving-box { margin-left: -20px;}
    .cog-style { margin-left: -1px;}
    .title { font-size: 12px; margin-left: -20px;}
    .up-content { margin-top: 15px;}
    .logo-ba { margin-left: 15.5em!important} }

@media only screen
  and (min-device-width: 412px)
  and (max-device-width: 732px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .button-hamburger {
      margin-left: 360px;
      margin-top: 4px; }
    .logo-ba { margin-left: 17.5em; }
    .almacenamiento { margin-top: 9px; }
    .position-h4 {
      margin-top: -35px;
      margin-left: 50px; }
    .moving-box { margin-left: -17px;}
    .icon-BA { margin-left: 90px!important;}
    .top-gpl { margin-left: 70px;}
    .text-right { margin-left: 40px; }
    .red-social { margin-left: 140px;}
    .up-content { margin-top: 26px;}
    .logo-ba { margin-left: 17.5em!important;}
    .twitter-footer { margin-left: 63px;} }

@media (min-width: 768px) and (max-width: 992px) {

  .new-dataset {
    font-size: 28px;
    margin-top: -40px;
    margin-left: 40px;
    font-family: 'Chalet-Eighty';
    float: left;
    text-align: left;}

  .btn-odin { margin-right: 155px!important;}
  .social-title { margin-left: -15px; margin-top: 140px;}
  .background-column { background-color: #fff; height: 120px;}
  .gradient-shadow { margin-top: 125px!important;}
  .large-top-margin { margin-top: 5em; }
  .up-div { margin-top: 11em;}
  .odin-hero {
    margin-top: 14vh !important;
    float: left;
    margin-left: -15px;
  }
  .medium-top-margin { margin-top: 0px;}

  .almacenamiento {
    width: 8em;
    margin-left: 56px;}

  .catalogo { margin-left: 50px; }
  .up-column { margin-top: 93px; }
  .move-legend { margin-right: 145px; margin-top: 42px; }
  .top-column { margin-top: -80px; }

  .size-title { font-size: 28px; }
  .text-right {
    color: #fff;
    margin-left: 0px;}

  .change-font {
    font-family: 'Chalet-Eighty';
    font-size: 28px;
    letter-spacing: 2px; }

  p {
    font-size: 17px;
    font-family: 'Open sans', sans-serif; }

  .navbar-nav > li > a {
    padding-left: 0.8em;
    padding-right: 0.8em; }

  .title {
    font-family: 'Chalet-Eighty';
    font-size: 20px; }

  .docs-top{margin-top: 200px;}

  .logo-ba {
    width: 5em;
    margin-left: 35em!important;
    margin-top: -65px; }

  .section-color {
    background-color: #F5F5F5;
    margin-left: -27px;
    margin-right: -27px;
    margin-top: -120px; }

  .small-top-margin {
    margin-top: 1.5em;
    margin-left: 17px; }

  .medium-top-margin {
    margin-top: 5em }

  .features img.img-large {
    width: 10em;
    margin-left: 100px; }

  .social-icon { margin-left: 90px; }

  .red-social {
    color: white;
    margin-top: 100px;
    margin-left: 30px; }

  .catalogo {
    width: 8em; }

  .twitter-footer {
    margin-left: -60px;
    margin-top: 10px;
    width: 3em; }

  .position-h4 {
    margin-top: -31px;
    margin-left: 55px; }

  .okfn-logo {
    width: 8em;
    margin-left: 22px;
    margin-top: 5px; }

  .twitter-01 {
    margin-left: 245px;
    width: 2.5em;
    display: inline-block; }

  .icon-BA {
    margin-top: 25px;
    margin-left: 25px; }

  .col-centered{ float: inherit;}

  .moving-box {
    width: 8em;
    margin:0 auto;
    display: block;}

  .hero-legend {
    font-family: 'avenir-light', sans-serif;
    font-size: 2.4rem;
    float:left;
    text-align: center;
    margin-left: 72px;}

  .right-side-footer {
    color: white;
    margin-left: 0px;
    margin-top: 40px;
    text-align: left;
    font-weight: 600;}

  .logo-nav{
    margin-left: 10px!important;
    width: 9em;}

  .nav-div {
    background-color: #fcda59;
    width: 60em;
    height: 20px;}

  .contact img {width: 8em;}

  .navbar-right {
    margin-right: 25px!important;
    margin-top: 77px;} }

@media (min-width: 992px) {


  .new-dataset {
    font-size: 28px;
    margin-top: -140px;
    margin-left: 155px;
    font-family: 'Chalet-Eighty';
    float: left;
    text-align: left;}

  .up-div { margin-top: 11em;}
  .social-title { margin-left: -15px; margin-top: 117px;}

  .almacenamiento { margin-top: 48px; width: 7em;}

  .cog {
    width: 7em;
    margin-top: 40px;
    margin-left: 2px; }

  .cog-style {
    margin-top: -77px;
    margin-left: 110px; }

  .catalogo {
    margin-top: -60px;
    margin-left: 110px; }

  .logo-ba {
    width: 5em;
    margin-left: 74em;
    margin-top: -80px; }

  .move-legend { margin-right: 160px; }

  .hamburger-nav { margin-top: 53px;}

  .background-column { background-color: #fff; height: 133px;}

  .docs-top{ margin-top: 80px; line-height: 60px; }
  .contact {
    font-family: 'Open sans', sans-serif;
    font-size: 18px;}

  .text-right {
    color: white;
    margin-left: -15px;
    display: flex;}

  .up-column { margin-top: 93px; }

  .okfn-logo {
    width: 8em;
    margin-left: 30px;
    margin-top: -30px; }

  .up-red-social { margin-top: 35px; }

  .logo-nav {
    margin-left: 128px;
    width: 12em; }

  .red-social {
    margin-left: 85px;
    margin-top: -85px;
    color: white; }


  .position-h4 {
    margin-top: -45px;
    margin-left: 55px;
    color: #000000;
    font-weight: 600;}

  .style-account{
    color: #56565e;
    font-size: 20px;
    font-weight: 100;}

  .font-size{ font-size: 1.9rem;}

  .down-text{ margin-top: 65px;}

  p {
    line-height: 1.5em;
    font-size: 1.5em;}

  .title {
    font-family: 'Chalet-Eighty';
    font-size: 1.5em;
    text-align: left; }


  .size-title { font-size: 28px; font-family: 'Chalet-Eighty'; }

  .text-characteristics {
    display: block;
    margin-left: 110px;
    margin-top: -50px; }

  .hero-legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    float:left;
    text-align: left;
    margin-left: 70px;}

  .twitter-01 {
    display: inline;
    margin-left: 275px;
    width: 2.2em;}

  .moving-box {
    width: 7em;
    margin-top: 50px;
    display: inline-block;}

  .top-gpl {
    width: 4em;
    margin-top: -32px;
    margin-left: -10px; }

  .right-side-footer {
    color: white;
    margin-left: -18px;
    margin-top: 35px;}

  .icon-BA {
    margin-top: 25px;
    width: 300px;
    margin-left: 100px;}

  .twitter-footer {
    margin-left: 110px;
    margin-top: 15px;
    width: 3.2em;}

  .navbar-right {
      margin-right: 125px;
      margin-top: 40px;}
  .red-social {
    margin-left: 100px;
    margin-top: 60px;
    color: white;}

  .nav > li > a {
    padding-right: 30px;
    padding-left: 30px; } }

@media  screen and (max-width: 1366px) {
  .logo-ba { margin-left: 61em;} }

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:hover {
  color: #FF386A !important;
  background-color: transparent !important; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default {
  background-color: #FEFEFE;
  border-color: transparent;
  font-family: 'avenir-black', sans-serif;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-size: small; }

.navbar-default .navbar-nav > .active > a {
  color: #FF386A;
  background-color: transparent; }

.logo {
  width: 10em;
  margin-left: 8em;}

.navbar-brand {
  padding: 0; }

.panel-default, .panel, .panel-default > .panel-heading, .panel-default > .panel-heading + .panel-collapse > .panel-body {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  background-color: transparent;
  border-color: transparent;
  border-top-color: transparent !important; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span, .fp-slidesNav ul li a span:hover {
  width: 16px;
  height: 16px;
  margin: -4px 0 0 -4px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #FFB600; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  margin: -4px 0 0 -4px;
  background: #FF386A;
  background: linear-gradient(to bottom right, #FFB600 0%, #FF386A 100%);
  border: none; }

section {
  margin-top: 10em;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 80vh !important; }

a {
  color: #FFB600;
  text-decoration: none; }

a:hover {
  color: #FF386A;
  text-decoration: none; }

.btn-odin {
  color: #ffbb00;
  background-color: #FEFEFE;
  padding: 0.6em 5.5em;
  font-size: 1.6em;
  letter-spacing: 2px;
  font-family: 'Chalet-Eighty';
  font-weight: 600;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 100px;
}

.img-odin-hero {
  margin-left: -15px;
}

.features img {
  width: 12em;
  margin: auto;
}
.contact img {
  width: 9em; }

.features .col-sm-3 {
  margin-top: 1em; }

.gradient-shadow {
  display: block;
  height: 10px;
  opacity: 0.4;
  background-image:
      linear-gradient(
        #B5BEBE, #D1D9D9);
  margin-top: 145px;}

.navbar-default {
  background-color: transparent; }

.navbar-default .container-fluid {
  background-color: white; }

/*.section-color{ background-color: #F5F5F5; }*/

@media (min-width: 768px) {

  .logo-nav { margin-left: 60px; }

  .features img {
    display: inline;
    margin: auto 20px 40px auto;
    width: 6em; }

  .title-top { margin-top: 85px; }

  .title-up {
    margin-top: -50px;
    margin-left: 18px; }

  .features img.img-large { width: 10em; }

  .section-text {
    display: inline;
    font-size: 28px; }}

@media (max-width: 768px) {
  .section-text {
    display: block;
    font-size: 28px; }

  .gradient-shadow {
    background-repeat: no-repeat; }
  .break {
    clear: both; }
  .large-sides-padding {
    padding-left: 0;
    padding-right: 0; } }

.separator { border-top: 2px solid #dfdfdf; }

.title.secondary-color.collapsed {
  color: #FFB600 !important;
  text-decoration: none; }

.title.secondary-color {
  color: #FF386A !important;
  text-decoration: none; }}


/************************CLASES**************************/


.footer {
  background-color: #333333;
  min-height: initial;
  height: 350px;
  padding-left: 1em;
  padding-right: 1em;}

.move-block {margin-left: 50px;}

.social-red {
  font-size: 18px;
  color: white;
  margin-top: 55px;
  margin-left: 30px;
  font-weight: 600;}

.nav-set-div {
  background-color: #fcda59;
  width: 122em;
  height: 10px;}

.nav-div {
  background-color: #fcda59;
  width: 123em;
  height: 15px;
  margin-left: -15px; }


.section-color {
    background-color: #F5F5F5;
    margin-left: -44px;
    margin-right: -44px; }

.odin-hero {
    margin-top: 6vh;
    float: left;
    margin-left: 50px;
    width: 70em;}
